/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/************ Farver **************/
html {
  --dark-grey: #2c2c2c;
  --light-grey: #a3a398;
  --creme: #d0cfc4;
  --neon: #deff35;
}
/************ Fonts **************/
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.cabin {
  font-family: "Cabin", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.bowlby-one-regular {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/*********** h1 h2 h3 p ************/
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 6.5rem;
  font-weight: 100;
  color: var(--dark-grey);
  text-align: center;
}

h2 {
  font-size: 1.7rem;
  font-family: "Bebas Neue", sans-serif;
  color: var(--dark-grey);
}
h3 {
  font-size: 1.4rem;
  font-family: "Bowlby One", sans-serif;
  color: var(--neon);
}

h4 {
  font-size: 1.2rem;
  font-family: "Bebas Neue", sans-serif;
  color: var(--dark-grey);
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--dark-grey);
}

/**************** Baggrundsfarve ******************/
body {
  background-color: var(--creme);
}

/**************** gap i siderne ******************/

.gap {
  margin: 0;
  padding: 3rem;
}

@media (min-width: 840px) {
  .gap {
    padding: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

/**************** Menu desktop ******************/
.logo img {
  width: 100px;
  height: 100px;
  border-style: none;
  margin-left: 20px;
}

.logo svg {
  color: var(--neon);
  width: 120px;
  height: auto;
  padding: 20px;
}

header {
  position: sticky;
  top: 0; /* sidder i toppen af viewport */
  z-index: 1000; /* sørger for, at den ligger ovenpå alt andet indhold */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-grey);
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 15px;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  border-radius: 15px;
  font-size: 1.1rem;
  color: var(--neon);
  font-family: "Bowlby One", sans-serif;
}

.menu a:hover {
  color: var(--creme);
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .menu {
    display: none;
  }
}

/**************** Menu burger ******************/

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 20px;
  background-color: var(--neon);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 840px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    margin-right: 10px;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--dark-grey);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    border: none;
  }
}

@media screen and (min-width: 840px) {
  main img {
    width: 700px;
    height: auto;
    align-items: center;
    text-align: center;
  }
}

/**************** Video ******************/
.gif {
  display: block; /* vigtig for margin auto */
  width: 300px; /* eller procent, fx 50% */
  height: auto; /* bevarer proportioner */
  margin: 0 auto; /* centrerer horisontalt */
}

/**************** Footer ******************/
.icon-tabler {
  color: var(--neon);
  width: 50px;
  height: 50px;
}

footer {
  background-color: var(--dark-grey);
  text-align: center;
  padding: 50px;
}

footer a {
  text-decoration: none;
}
