/**************** forside mobile ******************/

/* HERO – MOBIL */

#hero {
  position: relative; /* Reference til absolute tekst */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Billede */
#hero img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 2rem;
}

/* Tekst wrapper */
.hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Overskrift */
#hero h1 {
  margin: 0;
  font-size: 8rem;
  color: var(--neon);
  line-height: 1;
}

/* Underoverskrift */
#hero h2 {
  margin: 0;
  font-size: 2rem;
  color: var(--light-grey);
  margin-bottom: 30px;
}

.hero-text p {
  margin-top: 30px;
}

@media (min-width: 840px) {
  #hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  #hero img {
    grid-column: 1;
    width: 90%;
    height: auto;
  }

  .hero-text {
    position: static; /* fjerner absolute */
    transform: none; /* fjerner oversættelse */
    grid-column: 2;
    align-items: flex-start;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
  }

  #hero h1 {
    font-size: 12rem;
  }

  #hero h2 {
    font-size: 2rem;
    margin-top: -2rem;
    color: var(--light-grey);
  }
}

.web_text {
  display: none; /* fjerner på mobil */
}

@media (min-width: 840px) {
  .web_text {
    display: block;
  }
}

/**************** Om mig ******************/
.kompetencer {
  text-align: center;
}

/**************** Projekter ******************/

.pil {
  display: block;
  margin: 0 auto;
}

.hover_img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 840px) {
  .projekter_web_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .projekter_web_grid_1-1 img {
    width: 80%;
    height: auto;
    border-radius: 20px;
  }

  .center_p {
    text-align: center;
  }
}

/**************** Tema 2 ******************/

/**************** Tema 3 ******************/

/**************** Tema 4 ******************/

/**************** Tema 5 ******************/
