/**************** Forside******************/
.forside_link {
  color: var(--neon);
}

/**************** Om mig ******************/
.om_mig_h1 {
  font-size: 4rem;
}
.om_mig_p {
  margin-left: 20px;
  margin-right: 20px;
}

.kompetencer h3 {
  color: var(--dark-grey);
  font-size: 1rem;
}

@media (min-width: 840px) {
  .om_mig_h1 {
    font-size: 9rem;
    text-align: left;
  }
}

/**************** Projekter ******************/

.hover_img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  filter: grayscale(100%) brightness(90%);
  transition: all 0.5s ease;
  margin-bottom: 10px;
  margin-top: 30px;
  border: 2px solid var(--neon);
}

.hover_img:hover {
  filter: grayscale(0%);
}

.knap_projekter {
  display: inline-block; /* Gør linket til en "knap" */
  font-family: "Bowlby One", sans-serif;
  background-color: var(--neon);
  color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.knap_projekter:hover {
  background-color: var(--dark-grey);
  color: var(--neon);
}
.projekter_h1_web {
  font-size: 6rem;
  text-align: center;
}

.projekt {
  text-align: center;
}
@media (min-width: 840px) {
  .projekter_h1_web {
    font-size: 16rem;
  }
}

/**************** Tema generelt ******************/
.tema {
  border-radius: 20px;
  max-width: 100%;
}

.tema_h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media (min-width: 840px) {
  .tema_h1 {
    font-size: 6rem;
    margin-bottom: 6rem;
  }
}

.knap_link {
  display: inline-block; /* Gør linket til en "knap" */
  font-family: "Bowlby One", sans-serif;
  background-color: var(--neon);
  color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.knap_link:hover {
  background-color: var(--dark-grey);
  color: var(--neon);
}
